<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
  <div id="form_container">
    <h2>Search By Title or Author</h2>
    <form method="POST" action="show">
      <fieldset>
        <input placeholder="Enter a title or author" type="text" name="search">
        <label>
          <p>Title</p>
          <input type="radio" name="search_criteria" value="title">
        </label>
        <label>
          <p>Author</p>
          <input type="radio" name="search_criteria" value="author">
        </label>
        <button>Search the Google Books API</button>
      </fieldset>
    </form>
  </div>

</body>

</html>