<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books!!</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">
</head>

<body>
  <div class="topnav">
    <h1>Best Books!</h1>
    <div id="myLinks">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/searches/new">Search Book</a>
        </li>
      </ul>
    </div>
  </div>
  <h1><%= message %></h1>
  </div>
</body>

</html>