.topnav {
  height: 60px;
  background: black;
  color: white;
  width: 100%;
  position: fixed;
}

.topnav>h1 {
  display: inline-block;
  position: relative;
  width: fit-content;
  margin: 15px 10px;
}

#myLinks {
  float: right;
  position: relative;
  width: 10%;
  overflow: auto;
}

#book_results {
  margin: 10px auto;
  width: 60%;
  max-width: fit-content;
}

h2 {
  text-align: center;
  background: rgb(83, 83, 83);
  color: white;
  height: 50px;
  line-height: 50px;
}

#book_container {
  height: fit-content;
  background: rgb(153, 152, 152);
}

#form_container {
  height: 100vh;
  background: rgb(153, 152, 152);
}

#error_container {
  height: 100vh;
  background: rgb(153, 152, 152);
  padding-top: 100px;
}

form {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
}

form>fieldset>input {
  height: 50px;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 1em;
}

form>fieldset>label {
  margin-top: 20px;
  border-radius: 5px;
}

form>fieldset>label {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background: rgb(204, 203, 203);
}

form>fieldset>label>p {
  float: left;
  width: fit-content;
  margin-left: 10px;
}

form>fieldset>label>input {
  float: left;
  width: fit-content;
  margin-left: 20px;
  margin-top: 16px;
  position: relative;
}

form>fieldset>button {
  height: 50px;
  color: white;
  background: black;
  margin-top: 20px;
  border-radius: 5px;
}