<div class="topnav">
  <h1>Best Books!</h1>
  <div id="myLinks">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/searches/new">Search Book</a>
      </li>
    </ul>
  </div>
</div>